
Calculator01/.idea/workspace.xml

Calculator01/.idea/scopes/scope_settings.xml

Calculator01/Calculator01.xcodeproj/project.xcworkspace/xcuserdata/karsten.xcuserdatad/UserInterfaceState.xcuserstate

Calculator01/Calculator01.xcodeproj/project.xcworkspace/xcuserdata/karsten.xcuserdatad/UserInterfaceState.xcuserstate
